accelerate
datasets
deepdiff
huggingface_hub
importlib_resources
ipython
jupyterlab
keras
matplotlib
nose2
numpy
openai
pandas
pillow
scikit-learn
seaborn
scikit-image
tensorboard
tensorflow
tensorflow-datasets
torch
torchvision
transformers
