accelerate
datasets
deepdiff
huggingface_hub
importlib_resources
jupyterlab
keras
matplotlib
nose2
numpy
openai
pandas
scikit-learn
seaborn
tensorflow
tensorflow-datasets
torch
torchvision
transformers
